
/* 
Author: Ishmael Sunday
 Challenge: Frontend Mentor Challenge 2
 Date: January 2025
  */



  *, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body{
    font-family: "Figtree", serif;
    font-size: 1rem;
    color: hsl(0, 0%, 42%);
    background-color: hsl(47, 88%, 63%);
    display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        min-height: 100vh;
        line-height: 150%;
     /* 3. Add accessible line-height */
     line-height: 1.5;
     /* 4. Improve text rendering */
     -webkit-font-smoothing: antialiased;
    
}
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }



/* Card styles for Mobile */
.container{
    max-width: 80%;
    background-color: hsl(0, 0%, 100%);
    padding: 1.25rem 1.25rem .3125rem 1.25rem;
    border-radius: 1.25rem;
    box-shadow: 10px 10px  rgb(0, 0, 0);
    margin: auto;
    border: 3px solid #000;
    margin-bottom: 1.25rem;
}
.container > *{
    margin-bottom: 1.125rem;
}
.article-illustration{ 
    width: 100%;
    border-radius: .75rem;
    
}




.article-label{
    display: inline-block;
    padding: .625rem 1.25rem;
    background-color: hsl(47, 88%, 63%);
    border: 0;
    border-radius: .3125rem;
    font-weight:700;
    color: #000;

    
}

.article-date{
    font-size: .875rem;
    font-weight: 500;
    color: hsl(0, 0%, 42%);
    letter-spacing: 0;
}
.article-title{
    font-size: 1.5rem;
    font-weight: 950;
    color: #000;
    letter-spacing: 0;
}

.article-description{
    font-size: 1rem;
    font-weight: 500;
    color:  hsl(0, 0%, 42%);
    letter-spacing: 0;
}
.article-author{
    display: flex;
    align-items: center;
    
}

.author-avatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-right: .625rem;
}

.author-name{
    font-size: 1rem;
    font-weight: 700;
    color: #000;
    letter-spacing: 0;
}

.attribution { font-size: .6875rem; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }

/*  Card style for midium sceen and desktop */
@media (min-width: 500px){
    body{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100vh;
    }
    
    .container{
        max-width: 400px;
        margin-bottom: 1.25rem;

        &:hover{
            transition-duration: 0.5s;
            transform: scale(1.01);
        }
    }
    
}